<h1 class="text-center">國立政治大學翻譯與跨文化研究中心</h1>
<h3 class="text-center">Center For Translation & Cross-Cultural Studies, National Chengchi University</h3>
<div class="space"></div>
<div class="space"></div>
<div class="text-center">
<p>台北市文山區指南路二段64號（道藩樓三樓）<br>
Tel (02)2939-3091轉62739<br>
Fax (02)29390459<br>
<a href="mailto:trans@nccu.edu.tw">trans@nccu.edu.tw</a>
</p>
</div>
