<% provide(:title, 'All users') %>
<h2 class="text-center">All users</h2>

<div class="fix300 text-center">
  <% @users.each do |user| %>
    <%= link_to user.name, user %> 
    <%= "(Admin)" if user.admin?  %> 
      <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
     <% end %>
     <br>
  <% end %>
</div>