<ul class="navtabs">
  <li class="navtabs-title">
    <h1><%= t("global.publications") %></h1>
  </li>
  <li><%= link_to t("global.guangyi"), publicationpages_path %></li>
  <li><%= link_to t("global.ccs"), ccspublications_path %></li>
  <li class="active"><h2><%= t("global.si") %></h2></li>
  <li></li>
</ul>