body{
  margin: 0;
  background: #f3f3f3;
  font-size: 10.5pt;
}

.global-container{
  width: 860px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  background: #fff;
  box-shadow: 0px 0px 8px #999;
}

.global-banner{
  width: 860px;
  height: 110px;
  background-image: image-url("topbanner.jpg");
  background-repeat: no-repeat;
}
.navbar{
  background-image: image-url("navbg.jpg");
  background-repeat: no-repeat;
  height: 21px;
}

ul.navlist {
  float:right;
  margin: 0;
  list-style:none;
  font-size: 13px;
}

ul.navlist li{
  display:inline;
  margin:0px 20px 0px 0px;
  height: 21px;
}

.navbar a:link,
.navbar a:visited,
.navbar a:hover,
.navbar a:active{
  color: #fff;
  text-decoration:none;
}

header {
  background:  #04090F;
}

footer{
  background-image: image-url("footerbg.jpg");
  background-repeat: no-repeat;
  height: 30px;
  clear: both;
  margin-top:20px;
  
  .moreinfo{
    padding-top: 7px;
    padding-right: 10px; 
    color: #bbb;
    text-align: right;
  }
  a:link, a:visited {
    color: #999;
    text-decoration:none;
    &:hover{
      color:#fff;
      text-decoration:none;
    }
    &:active{
      color:#fff;
      text-decoration:none;
    }

  }
  ul{
    float: left;
    list-style: none;
  }
  li{
    float: left;
    margin-left:10px; 
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  box-sizing: border-box;
  background: #f3f3f3;
}

.text-center{
  text-align: center;
}
.space{
  width: 100%;
  padding: 5px 0;
}

.form-group{
  margin: 8px;
}
.hidden{
  display: none;
}

.form-control{
  height: 20px;
  width: 25%; 
  border: 1px solid #acacac;
  border-radius: 2px;
  padding:4px 8px;
}
.full-size{
  width: 97.5%;
  font-size: 10.5pt;
  font-family: serif;
}

.full-size-form{
  margin: 8px 0;
}

.btn{
  background-color:#fcfcfc;
  border-radius:4px;
  border:1px solid #acacac;
  display:inline-block;
  cursor:pointer;
  font-size:13px;
  padding:8px 16px;
  color: #333;
  text-decoration:none;

  color: #fff;
  background-color: #a63f42; /*#d9534f;*/
  border-color: #9f2d30;
}

.btn:link,.btn:visited,.btn:hover ,.btn:active{
  color:#fff;
  text-decoration:none;
}

h2{
  margin: 20px 15px 10px 15px;
  color: #800000;
}
h3{
  margin: 20px 0 2px 0;
  color: #800000;
}

.time-tag{
  margin: 4px 0;
  color: #666;
  font-size: 10.5pt;
}

.avatar-img{
  padding: 10px;
  border-radius: 20%;
  display: block;
  margin: 0 auto;
}

.rightcolumn{
  font-size: 12px;
  float: right;
  width: 190px;
  margin: 15px 10px;

  .block{
    margin-bottom: 15px;
  }

  .title{
    background-color: #04090F;
    height: 23px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    line-height: 23px;
    width: 100%;
      .redpt{
        display: block;
        float: left;
        width: 11px;
        height: 11px;
        background-color: #990100;
        margin: 6px 8px 7px 10px;
      }
   }
   .contents{
    margin:10px;
   }
   .contents ul{
    list-style-type: none;
    padding: 0;
    margin: 5px 0 5px 0;
      li{
        margin: 2px 0px;
      }
   }
   
   a{
    color:#950000;
    text-decoration:none;
   }
   
}

a:link, a:visited, a:hover , a:active{
  color:#950000;
  text-decoration:none;
}


.main-container{
  margin: 8px 13px;
  float: left;
  width: 610px;
  h1.mainpage-title{
    margin: 0 0 2px 0;
    color: #800000;
    font-size: 14.5pt;
    border-bottom: 1px solid #800000;
    padding-bottom: 4px;
  }
  
  img{
    max-width: 600px;
  }

  & > hr{
    border:0; height:1px; background-color:#d4d4d4;
    color:#d4d4d4;margin: 25px 0;
  }

  table{
  border-collapse: collapse;
  border: 1px solid #800000;
  }
  table td{
    border: 1px solid #800000;
    padding: 2px 6px;
  }

}


.alert{
  background: #fcf8e3;
  padding: 10px;
  color: #333;
}
div.pagination{
  ul.pagination {
    li{
      display: inline;
      padding:8px;
    }
    li.disabled{
      display: none;
    }
    li.active{
      border-radius:4px;
      display:inline-block;
      cursor:pointer;
      font-size:13px;
      padding:8px;
      text-decoration:none;
      color: #fff;
      background-color: #a63f42; /*#d9534f;*/
      border-color: #9f2d30;
      a{
       color: #fff;
       cursor: default;
      }
    }
  }
}

.btn-clear{
  margin: 8px;
}





/*.jumbotron{
  background-color: #fff;
}

.fix300{
  width: 300px;
  margin:0 auto;
}



.form-group {
  margin-bottom: 10px;
}

#error_explanation {
  color: #f00;
  margin-bottom: 10px;
}

.field_with_errors {
  @extend .has-error;
}






.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}


.avatar-img{
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
*/


.navtabs{
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #800000;
  margin: 12px 0 0;
  font-size: 17px;

  .navtabs-title{
    padding: 10px 17px 10px 5px;
  }
  h1{
    font-size: 14.5pt;
    margin: 0;
    padding: 0;
    color: #800000;
    display: table-cell;
  }
  h1:after{
    content: '{';
    padding-left: 7px;
  }
  li{
    display: table-cell;
    padding: 10px 20px;
  }
  li.active{
    background: #800000;
    color: #fff;
  }
  li:last-child:after{
    content: "}";
    font-size: 14.5pt;
    color: #800000;
    font-weight: bold;
  }
  h2{
    color: #fff;
    margin: 0;
    font-size: 17px;
  }
}

.navsubtabs{
  // border-bottom: 1px solid #e1d3d3;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  li{
    padding: 10px 15px;
    display: table-cell;
  }
  li.active{
    background: #f1e9e9;
  }
}

.ccstable{
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  li{
    display: inline-block;
    padding: 0 10px 10px 0;
    width: 30%;
    vertical-align: top;
  }
  a{
    padding: 8px;
    border: 1px solid;
    display: block;
    font-size: 13px;
  }
  .active a{
    background: #f1e9e9;
  }
}