<header class="navbar navbar-default" role="navigation">
  <div class="navbar-fluid">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="#">Translation Center</a>
    
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">最新消息</a></li>
        <li><a href="#">中心簡介</a></li>
        <li><a href="#">業務範圍</a></li>
        <li><a href="#">活動錦集</a></li>
        <li><a href="#">學術刊物</a></li>
        <li><a href="#">English</a></li>
         
      </ul>
    </div><!--/.nav-collapse -->

  </div>
</header>

