<div class="rightcolumn">
<div class="block">
  <div class="title"><div class="redpt"></div>Links</div>
  <div class="contents">
    <ul>
      <li><a href="http://www.foreign.nccu.edu.tw/"> 政大外語學院</a></li>
      <li><a href="http://flcu.nccu.edu.tw/main.php/"> 北區大學外文中心</a></li>
      <li><a href="http://flc.nccu.edu.tw/"> 政大外文中心</a></li>
      <li><a href="http://www.nccu.edu.tw/"> 國立政治大學首頁</a></li>
    </ul>
    </div>
</div>


<div class="block">
  <div class="title"><div class="redpt"></div>Contact Us</div>
  <div class="contents">
    <ul>
      <li>地址：台北市文山區指南路二段64號（道藩樓三樓）</li>
      <li>電話：(02)2939-3091轉62739</li>
      <li>傳真：(02)29390459</li>
      <li>信箱：<a href="mailto:trans@nccu.edu.tw">trans@nccu.edu.tw</a></li>
    </ul>
    </div>
</div>


</div>